<div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="first_name" value="{{this.first_name}}" placeholder="First Name">
            <label for="floatingInput">First Name</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="last_name" value="{{this.last_name}}"  placeholder="Last Name">
            <label for="floatingInput">Last Name</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" name="email" value="{{this.email}}"  placeholder="id@domain.com">
            <label for="floatingInput">E-Mail</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="phone" value="{{this.phone}}"  placeholder="Phone">
            <label for="floatingInput">Phone</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control" id="floatingInput" name="comments" placeholder="Comments" style="height: 200px;">{{this.comments}}</textarea>
            <label for="floatingInput">Comments</label>
        </div>
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>